.navbar-home {
    background-color: #a94442 !important;
    border: none;
}

.navbar-home .navbar-nav .nav-link {
    color: white;
    margin: 0rem 0.5rem;
}

.navbar-home .navbar-brand {
    color: white;
    font-weight: bold;
}

.carousel-content {
    height: 550px;
}

.about-pizza{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.pizza-types{
    margin-bottom: 3rem;
}

.footer{
    background-color: #a94442;
    padding-bottom: 0.1rem;
    color: white;
}

/*text-center {
    text-align: center !important;
    margin-bottom: 10px;
    padding-bottom: 10rem;